/* Εφαρμογή σε όλη τη σελίδα */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Κύριο περιεχόμενο */
.content {
  flex: 1; /* Εξασφαλίζει ότι το περιεχόμενο γεμίζει τον διαθέσιμο χώρο */
}

/* Footer */
footer {
  background-color: #4a148c; /* Σκούρο μωβ χρώμα */
  color: white; /* Λευκό χρώμα κειμένου */
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: relative;
  bottom: 0;
}
