html, body, #root {
  height: 100%;
  margin: 0;
}

.navbar {
  background-color: #f8f9fa;
}

.sidebar {
  height: 100%;
  background-color: #343a40;
  color: white;
  padding: 20px;
}

.footer {
  background-color: #f1f1f1;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
